.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/img/index.webp
src/assets/img/Portfolio01.webp
src/assets/img/Portfolio02.webp
src/assets/img/Portfolio03.webp
src/assets/img/Profil.webp
src/assets/img/Immobilier/Immo_1.webp
src/assets/img/Immobilier/Immo_2.webp
src/assets/img/Immobilier/Immo_3.webp
src/assets/img/Immobilier/Immo_4.webp
src/assets/img/Immobilier/Immo_5.webp
src/assets/img/Immobilier/Immo_6.webp
src/assets/img/Immobilier/Immo_7.webp
src/assets/img/Mariages/Mariage_1.webp
src/assets/img/Mariages/Mariage_2.webp
src/assets/img/Mariages/Mariage_3.webp
src/assets/img/Mariages/Mariage_4.webp
src/assets/img/Mariages/Mariage_5.webp
src/assets/img/Mariages/Mariage_6.webp
src/assets/img/Mariages/Mariage_7.webp
src/assets/img/Mariages/Mariage_8.webp
src/assets/img/Mariages/Mariage_9.webp
src/assets/img/Mariages/Mariage_10.webp
src/assets/img/Mariages/Mariage_11.webp
src/assets/img/Mariages/Mariage_12.webp
src/assets/img/Mariages/Mariage_13.webp
src/assets/img/Mariages/Mariage_14.webp
src/assets/img/Mariages/Mariage_15.webp
src/assets/img/Mariages/Mariage_16.webp
src/assets/img/Mariages/Mariage_17.webp
src/assets/img/Portraits/Portrait_1.webp
src/assets/img/Portraits/Portrait_2.webp
src/assets/img/Portraits/Portrait_3.webp
src/assets/img/Portraits/Portrait_4.webp
src/assets/img/Portraits/Portrait_5.webp
src/assets/img/Portraits/Portrait_6.webp
src/assets/img/Portraits/Portrait_7.webp
src/assets/img/Portraits/Portrait_8.webp
src/assets/img/Portraits/Portrait_9.webp
src/assets/img/Portraits/Portrait_10.webp
src/assets/img/Portraits/Portrait_11.webp
src/assets/img/Portraits/Portrait_12.webp
src/assets/img/Portraits/Portrait_13.webp
src/assets/img/Portraits/Portrait_14.webp
src/assets/img/Portraits/Portrait_15.webp
src/assets/img/Portraits/Portrait_16.webp
src/assets/img/Portraits/Portrait_17.webp
src/assets/img/Portraits/Portrait_18.webp
src/assets/img/Voyages/Travel_1.webp
src/assets/img/Voyages/Travel_2.webp
src/assets/img/Voyages/Travel_3.webp
src/assets/img/Voyages/Travel_4.webp
src/assets/img/Voyages/Travel_5.webp
src/assets/img/Voyages/Travel_6.webp
src/assets/img/Voyages/Travel_7.webp
src/assets/img/Voyages/Travel_8.webp
src/assets/img/Voyages/Travel_9.webp
src/assets/img/Voyages/Travel_10.webp
src/assets/img/Voyages/Travel_11.webp
src/assets/img/Voyages/Travel_12.webp
src/assets/img/logo/Favicon.png
src/assets/img/logo/logo-noir-et-blanc.png
src/assets/img/logo/logo-noir-et-transparent.png
src/assets/img/portfolio/Portfolio01.webp
src/assets/img/portfolio/Portfolio02.webp
src/assets/img/portfolio/Portfolio03.webp
src/assets/img/portfolio/Portfolio04.webp
src/assets/img/portfolio/Portfolio05.webp
