<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase
  <BASE URL>
  RewriteRule ^
  <BASE URL>/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule .
  <BASE URL>/index.html [L]
</IfModule>