@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poiret+One&display=swap");

html,
body {
    height: 100vh;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;

    margin: 0 auto;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: black;
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fancybox__backdrop {
    backdrop-filter: blur(10px);
    background: rgba(24, 24, 27, 0.62);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

@layer components {
    .active {
        color: #074a9c;
        text-decoration: underline;
    }
    .clampTitre {
        font-size: clamp(4rem, 9vw, 6rem);
    }
    .menuFixe {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .footerFixe {
        position: fixed;
        bottom: 0;
        z-index: 10;
    }
    .card {
        background-color: theme("colors.white");
        border-radius: theme("borderRadius.lg");
        padding: theme("spacing.6");
        box-shadow: theme("boxShadow.xl");
    }
    .texteClassique {
        font-family: "Poiret One";
        font-weight: bold;
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
        letter-spacing: 0.1em;
    }
    .flexCol {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .flexRow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .effectPhoto {
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
        object-fit: cover;
        object-position: top;
        transition: "box-shadow";
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .effectPhoto:hover {
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
            0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
            var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        --tw-shadow-color: rgb(0 0 0 / 0.5);
        --tw-shadow: var(--tw-shadow-colored);
    }
    .effectBlur {
        background-color: rgba(245, 245, 245, 0.55);
        backdrop-filter: blur(24px) saturate(0);
    }
}

/* Permet de désactiver AOS en mobile */
@media only screen and (max-width: 775px) {
    .aos-animate {
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;

        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;

        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    [data-aos] {
        pointer-events: auto !important;
    }

    html:not(.no-js) [data-aos^="fade"][data-aos^="fade"] {
        opacity: 1 !important;
    }

    html:not(.no-js) [data-aos="fade-up"] {
        transform: none !important;
    }
}
